---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
import '../styles/global.css';
---

<BaseLayout pageTitle={frontmatter.title}>
  <div class="">
    <h1 class="">{frontmatter.title}</h1>
    <h2 class="">{frontmatter.description}</h2>
    <h2 class="">{frontmatter.pubDate.toString().slice(0,10)}</h2>
    <h2 class="">Written by: {frontmatter.author}</h2>
    <div class="tags">
      {frontmatter.tags.map((tag: string) => (
        <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
      ))}
    </div>
    
      <slot />
  </div>
</BaseLayout>